<<<<<<< HEAD
body {
	margin: 0;
	padding: 0;
}

html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	text-align: center;
	color: white;
}

p {
	color: white;
	font-size: 150%;
}

.block1 {
	width: 500px;
	height: 500px;
	float: left;
}

.block2 {
	width: 400px;
	height: 600px;
	float: left;
	margin-left: 25px;
}

#me {
	margin-left: 5%;
	-moz-box-shadow: 10px 15px 35px #898383;
	-webkit-box-shadow: 10px 15px 35px #898383;
	box-shadow: 10px 15px 35px black;
	width: 400px;
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg);
	-moz-transform:rotate(-7deg); 
	-webkit-transform:rotate(-7deg); 
	-o-transform:rotate(-7deg); 
	margin-top: 1%;
	margin: 5%;
}

#overclay {
	margin: 50px auto;
	width: 960px;
	height: 700px;
	background-color: rgba(0,0,0,0.5);
}

#facebook, #instagram {
	width: 50px;
	height: 50px;
}

#contact {
	bottom: 0;
}
